.card {
  box-shadow: none;
  display: flex;
  justify-content: start;
  align-items: center;
  height: 100%;
  border-radius: 0;
  background-color: transparent;
  gap: 1rem;
}

.main {
  padding: 10px;
}
fa-icon {
  font-size: 30px;
}
.example-spacer {
  flex: 1 1 auto;
}

