<mat-card class="card">
  <mat-toolbar class="d-flex flex-column gap-2">
    <button matTooltip="New file" matTooltipPosition="before" mat-icon-button class="example-icon" aria-label="New file">
      <fa-icon [icon]="faFolderPlus"></fa-icon>
    </button>

    <span class="example-spacer"></span>
    <button matTooltip="New file request"  matTooltipPosition="before" mat-icon-button class="example-icon favorite-icon" aria-label="New file request">
      <fa-icon [icon]="faFileArrowUp"></fa-icon>
    </button>
    <span class="example-spacer"></span>
    <button matTooltip="Departments"  matTooltipPosition="before" mat-icon-button class="example-icon favorite-icon" aria-label="New file request">
      <fa-icon [icon]="faBuilding"></fa-icon>
    </button>
  </mat-toolbar>
</mat-card>
